@import "tailwindcss";

:root {
    --lingth-green: #9EFF00;
    --btn-text-color: #262626;
    --bg-color: #1A1A1A;
    --text-color: #E6E6E6;
    --gray-color: #98989A;
    --card-text-color: #D8FF99;
    --bg-form-color: #1e1e1e;
    --form-text: #656567;
    --checkbox-color: #262626;
    --border-checkbox: #333333;
    --circle-color: #4C4C4D;
    --footer-color: #98989A;
}

@layer base {
    * {
        @apply font-['Barlow'] text-white
    }
    body {
        @apply bg-[var(--bg-color)]
    }
}

@layer components {
    .container {
        @apply max-w-screen-xl mx-auto px-[10px] 
    }
    .btn {
        @apply bg-[var(--lingth-green)] py-3 px-[18px] rounded-[6px] text-sm font-medium text-[var(--btn-text-color)]
    }
    .hover {
        @apply hover:bg-[var(--btn-text-color)] py-3 px-[22px] rounded-[6px] transition-all duration-300
    }
    .btn-gray {
        @apply bg-[var(--btn-text-color)] max-w-full h-[52px] rounded-[6px] cursor-pointer
    }
}

@layer utilities {
    .underline {
        text-underline-offset: 12px;

    }
}
